/* General CSS */
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body {
    font-family: 'proxima';
    color: #22262a;
    background:  #f1f3f4;
}
header{
    display: flex;
    background: white;
    /* width: 80%; */
    height: 80px;
    margin: auto;
    align-items: center;
    font-family: 'proxima-semi';
}
.logo{
    font-weight: 16px;
    font-family: 'proxima-semi';
    color: #22262a;
    align-content: center; 
    height: auto;
    width: auto;
}
.logo-container{
    padding-left: 115px;; 
    width: 800px;
    padding-right: 0px;
    height: 80px;
}
.notification{
    padding-right: 30px;
}
.profile{
    font-weight: 16px;
    color: #22262a;
    padding-right: 30px;
}
.myprofile{
    
    color: #22262a;
}
.bag_3{
   
    padding-right: 30px;
}
.Items{
 
    color: #22262a;
}
.search{
    
    padding-right: 100px;
}
@font-face {
    font-family: 'proxima-semi';
    src: url('/fonts/Proxima Nova Semibold.otf');
}
@font-face {
    font-family: 'proxima';
    src: url('/fonts/ProximaNova-Regular.otf');
}
#fixed-width-beeg {  
height: 80px; 
}
.contents{
    display: flex;
    background: #f1f3f4;
    /* width: 80%; */
    height: 90px;
    margin-right:50px;
    margin-bottom: 0px;
    align-items: center;
    font-family: 'proxima-semi';
}
.home{
   
    font-family: 'proxima-semi';
    font-weight: 14px;
    color: #33A0FF;
    padding-left: 135px; 
}
.accesories1{
    
    font-weight: 14px;
    font-family: 'proxima-semi';
    color: #22262a;
    
}
.column{
    background: white;
    /* height: 90px; */
    margin-left: 135px;
    font-family: 'proxima-semi';
    padding-left: 20px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-top: 20px;

}
.container{
    display: flex;
}
.content-2{
    display: flex;
    background: #f1f3f4;
    margin-right:50px;;
    margin: auto;
    align-items: center;
    font-family: 'proxima-semi';
    
}
#fixed-width-iphone {  
    height: 283px; 
    }
.iphone{
    display: flex;
    background: rgb(51, 160, 255);
    margin-left: 20px;
    margin-right: 0;
    height: 283px;
}
.btn{
    padding: 0px;
}
